body{
      background-color: darkgrey;
      margin-top:10px ;
      padding: 10px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  #section01 {
      background-color: rgba(107, 104, 121, 0.692);
      padding: 10px;
      color: white;      
  }
  
  .article {
      background-color: orangered;     
      border: 2px black solid;
      padding: 10px;
      margin-bottom: 2px;
  }
  
   
  p {
      margin: 0;
  }

  h1 {
      color: lawngreen;
  }
  
  footer, header {
    background-color: rgba(50, 7, 241, 0.486);
    color: l;
    font-size: 2em;
    padding: 10px;
}

nav ul {
    list-style: none;
    background-color: var(--blue);
    border-bottom: 1px solid #888;
    text-align: left;
    margin-left: -50px;
    margin-top: 0px;
}

nav li {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    width: 150px;

}

nav a {
    text-decoration: none;
    color: var(--pink);
    display:block;
}

nav a:hover {
    background-color: #f3dfd7b0;
}
  